<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span>Admin Panel: </span>
    <a href="/">Home</a>
    |
    <%= link_to('Contact Us', contact_path) %>
    |
    <%= link_to('All Questions', questions_path) %>
    |
    <% if user_signed_in? %>
      <span>You're signed in</span>
      <span>Hello <%= current_user.full_name %></span>
      <%= link_to 'Sign Out', sessions_path, method: :delete %>
    <% else %>
      <span>You're not signed in</span>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Sign In', new_session_path %>
    <% end %>
    <hr>
    <%= notice || alert %>
    <%= yield %>
  </body>
</html>
